.rating{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    .star{

        &.empty{
        stroke:gray;
        stroke-width:1;
        fill-rule:"nonzero";
        fill: gray;
        stroke: gray;

        // &:hover{
        //     fill: yellowgreen;
        //     stroke: yellowgreen;
        // }
        }
        
        &.full{
            fill: yellowgreen;
            stroke: yellowgreen;
            
        }
    }
}
