.rating{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--primary-color);
    .star{

        &.empty{
        stroke: var(--gray-color);
        stroke-width:1;
        fill-rule:"nonzero";
        fill:var(--gray-color);
        stroke:var(--gray-color);
        // &:hover{
        //     fill: yellowgreen;
        //     stroke: yellowgreen;
        // }
        }
        
        &.full{
            fill: var(--rating-color);
            stroke: var(--rating-color);
            
        }
    }

    .svg-icon{
        align-self: center;
    }
}
